{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{email}}</a></td>
        </tr>
    {{/memberList}}
    </tbody>
</table>

<a href="/members/new">등록</a>

{{>layouts/footer}}